@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-inter), Arial, sans-serif;
}

input[type='range'] {
  accent-color: #f59e0b;
}

@media print {
  .no-print {
    display: none !important;
  }

  header,
  footer {
    color: black !important;
    background: white !important;
  }

  body {
    background: white !important;
  }
}
